POSTGRES_DB=sacco_app
POSTGRES_USER=sacco
POSTGRES_PASSWORD=change_this_password
POSTGRES_PORT=5432
BACKEND_PORT=8080
SACCO_DEMO_LOGINS_ENABLED=false
SACCO_AUTH_RATE_LIMIT_MAX_FAILURES=6
SACCO_AUTH_RATE_LIMIT_WINDOW_SECONDS=60
