DOMAIN=tereka.online
ACME_EMAIL=admin@tereka.online
POSTGRES_DB=sacco_app_prod
POSTGRES_USER=sacco_prod
POSTGRES_PASSWORD=replace_with_a_unique_24_plus_character_password
POSTGRES_PORT=5432
BACKEND_PORT=8080
SACCO_DEMO_LOGINS_ENABLED=false
SACCO_AUTH_RATE_LIMIT_MAX_FAILURES=6
SACCO_AUTH_RATE_LIMIT_WINDOW_SECONDS=60
SACCO_SMS_PROVIDER=demo_sms
SACCO_EMAIL_PROVIDER=demo_email
SACCO_MOBILE_MONEY_PROVIDER=demo_mobile_money
STAGING_UI_BASE_URL=https://tereka.online
STAGING_API_BASE_URL=https://tereka.online/api/v1
