POSTGRES_DB=sacco_app_staging
POSTGRES_USER=sacco_staging
POSTGRES_PASSWORD=replace_with_a_unique_staging_password
POSTGRES_PORT=5432
BACKEND_PORT=8080
SACCO_DEMO_LOGINS_ENABLED=false
SACCO_AUTH_RATE_LIMIT_MAX_FAILURES=6
SACCO_AUTH_RATE_LIMIT_WINDOW_SECONDS=60
SACCO_SMS_PROVIDER=demo_sms
SACCO_EMAIL_PROVIDER=demo_email
SACCO_MOBILE_MONEY_PROVIDER=demo_mobile_money
