POSTGRES_DB=sacco_app_staging
POSTGRES_USER=sacco_staging
POSTGRES_PASSWORD=replace_with_a_unique_staging_password
POSTGRES_PORT=5432
BACKEND_PORT=8080
SACCO_DEMO_LOGINS_ENABLED=false
SACCO_AUTH_RATE_LIMIT_MAX_FAILURES=6
SACCO_AUTH_RATE_LIMIT_WINDOW_SECONDS=60
SACCO_SMS_PROVIDER=afrosms
SACCO_AFROSMS_API_KEY=replace_with_afrosms_api_key
SACCO_AFROSMS_SENDER_ID=replace_with_approved_afrosms_sender_id
SACCO_EMAIL_PROVIDER=gmail_smtp
SACCO_GMAIL_SMTP_USERNAME=replace_with_google_workspace_smtp_username
SACCO_GMAIL_SMTP_PASSWORD=replace_with_google_workspace_app_password
SACCO_GMAIL_FROM_ADDRESS=replace_with_tereka_sender_email
SACCO_GMAIL_FROM_NAME=Tereka Online
SACCO_MOBILE_MONEY_PROVIDER=replace_with_mobile_money_provider_mtn_momo_airtel_money_or_mpesa_daraja
SACCO_MTN_MOMO_SUBSCRIPTION_KEY=replace_with_mtn_subscription_key_if_using_mtn
SACCO_MTN_MOMO_API_USER_ID=replace_with_mtn_api_user_id_if_using_mtn
SACCO_MTN_MOMO_API_KEY=replace_with_mtn_api_key_if_using_mtn
SACCO_MTN_MOMO_TARGET_ENVIRONMENT=replace_with_mtn_target_environment_if_using_mtn
SACCO_AIRTEL_MONEY_CLIENT_ID=replace_with_airtel_client_id_if_using_airtel
SACCO_AIRTEL_MONEY_CLIENT_SECRET=replace_with_airtel_client_secret_if_using_airtel
SACCO_AIRTEL_MONEY_COUNTRY_CODE=replace_with_airtel_country_code_if_using_airtel
SACCO_MPESA_DARAJA_CONSUMER_KEY=replace_with_daraja_consumer_key_if_using_mpesa
SACCO_MPESA_DARAJA_CONSUMER_SECRET=replace_with_daraja_consumer_secret_if_using_mpesa
SACCO_MPESA_DARAJA_BUSINESS_SHORT_CODE=replace_with_daraja_business_short_code_if_using_mpesa
SACCO_MPESA_DARAJA_PASSKEY=replace_with_daraja_passkey_if_using_mpesa
SACCO_MPESA_DARAJA_CALLBACK_URL=replace_with_public_https_callback_url_if_using_mpesa
SACCO_BOOTSTRAP_PLATFORM_ADMIN_FULL_NAME=replace_with_platform_owner_name
SACCO_BOOTSTRAP_PLATFORM_ADMIN_EMAIL=replace_with_platform_owner_email
SACCO_BOOTSTRAP_PLATFORM_ADMIN_PHONE=replace_with_platform_owner_phone
SACCO_BOOTSTRAP_PLATFORM_ADMIN_PASSWORD=replace_with_strong_bootstrap_password
SACCO_MOBILE_MONEY_CALLBACK_SECRET=replace_with_24_plus_character_callback_secret
SACCO_MOBILE_MONEY_REQUIRE_SIGNED_CALLBACKS=true
SACCO_MOBILE_MONEY_CALLBACK_TIMESTAMP_TOLERANCE_SECONDS=300
STAGING_UI_BASE_URL=https://staging.example.com
STAGING_API_BASE_URL=https://staging-api.example.com/api/v1
